# Office temp files
Documentation/~$PawPal FYP.pptx

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# AI Chatbot vector database (large files)
AI_Chatbot/vector_db/
vector_db/

# Binary files
*.bin
*.pickle
*.pkl

# ML Model files
images/
oxford_pet_dataset/
ML_Models/cats/code/cat_breed_classifier.pth
data/
model/
ML_Models/cats/model_cats.zip
ML_Models/dogs/model.zip

# Environment
.env
venv/
env/
